<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка аудиофайла</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Выберите аудиофайл для загрузки (в формате mp3 или wav):</h2>
    <label for="audioFileInput" class="custom-file-upload">
        <input type="file" id="audioFileInput" accept=".mp3, .wav">
        Выбрать файл
    </label>
    <!-- Название файла будет отображаться здесь -->
    <span id="fileName"></span>
    <button onclick="uploadAudio()">Загрузить</button>
    <button onclick="runAbraScript()">Запустить анализ</button>
        <br>
    <div id="scriptResult"></div>
    <table border="1" class="table_style">
        <caption>Результат работы</caption>
        <thead>
            <tr>
                <th>Audio Duration</th>
                <th>Total Tempo</th>
                <!-- <th>Average Tempos</th> -->
                <th>Average Tempo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span id="audio_duration"></span> секунд</td>
                <td><span id="total_tempo"></span> BPM</td>
                <!-- <td><span id="average_tempos"></span></td> -->
                <td><span id="average_tempo"></span> BPM</td>
            </tr>
        </tbody>
    </table>
        <!-- <p>Audio Duration: <span id="audio_duration"></span></p>
        <p>Total Tempo: <span id="total_tempo"></span></p>
        <p>Average Tempos: <span id="average_tempos"></span></p>
        <p>Average Tempo: <span id="average_tempo"></span></p> 
        <img id="abra_image" src="" alt="Abra Image"> -->

    <script>
        document.getElementById('audioFileInput').addEventListener('change', function() {
            var fileName = this.files[0].name;
            document.getElementById('fileName').textContent = fileName;
        });
        
        function uploadAudio() {
            const fileInput = document.getElementById('audioFileInput');
            const file = fileInput.files[0];
            if (file) {
                const allowedExtensions = ['.mp3', '.wav'];
                const fileExtension = file.name.split('.').pop();
                if (allowedExtensions.includes('.' + fileExtension.toLowerCase())) {
                    const formData = new FormData();
                    formData.append('audioFile', file);
                    
                    fetch('/upload', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert('Аудиофайл успешно загружен!');
                        // Отправить имя файла на сервер
                        const fileName = file.name;
                        fetch('/upload_filename', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ filename: fileName })
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data.message);
                        })
                        .catch(error => {
                            console.error('Ошибка при отправке имени файла:', error);
                        });
                    })
                    .catch(error => {
                        console.error('Ошибка при загрузке аудиофайла:', error);
                        alert('Произошла ошибка при загрузке аудиофайла: ' + error.message);
                    });
                } else {
                    alert('Неподходящее расширение файла, выберите файл с расширением mp3 или wav.');
                }
            } else {
                alert('Выберите файл для загрузки.');
            }
        }

        function runAbraScript() {
            const fileName = document.getElementById('fileName').textContent;
            fetch('/run_abra_script', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ filename: fileName })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error('Произошла ошибка:', data.error);
                    alert('Произошла ошибка при запуске скрипта.');
                } else if (data.output) {
                    // document.getElementById("average_tempos").textContent = data.output.average_tempos;
                    document.getElementById("average_tempo").textContent = data.output.average_tempo;
                    document.getElementById("audio_duration").textContent = data.output.audio_duration;
                    document.getElementById("total_tempo").textContent = data.output.total_tempo;
                    // Здесь также можно использовать data.output.image_path для отображения изображения
                }
                else {
                    console.error('Произошла ошибка: Отсутствует выходной объект.');
                    alert('Произошла ошибка при запуске скрипта: Отсутствует выходной объект.');
}
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
                alert('Произошла ошибка при запуске скрипта.');
            });
        }

    </script>
</body>
</html>
